/* Mobile: 375px
- Desktop: 1440px 
font size 12px*/


:root {
    --text-dark-blue: hsl(238, 29%, 16%);
    --text-red: hsl(14, 88%, 65%);
    --gradient-violet: hsl(273, 75%, 66%); 
    --gradient-blue: hsl(240, 73%, 65%);
    --text-vdarkgray: hsl(237, 12%, 33%);
    --text-darkgray: hsl(240, 6%, 50%);
    --divider-gray: hsl(240, 5%, 91%)
}


html {
    font-size: 100%;
    box-sizing: border-box;
    font-family: 'Kumbh Sans', sans-serif;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    min-height: 100vh;
    margin: 0; 
    padding: 0;
    font-size: 0.75rem;
    font-weight: 400;
    color: var(--text-darkgray);
    background: linear-gradient(var(--gradient-violet), 
    var(--gradient-blue));  
        
}

.box-img {
    display: none;
}

.card-container {
    margin: 9rem 2rem;
    max-width: 56rem;
    background-color: #fff;
    border-radius: 1.5rem;

}

.card-content {
    padding: 1rem;
    
}


.desktop-img {
    display: none;

}
    

.card-text h1 {
    color: var(--text-vdarkgray);
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 2.5rem ;
}


/* Accordian content */

.accordian-wrapper {
    margin-bottom: 1.5rem;
}

.accordian-item {
    border-bottom: 1px solid var(--divider-gray);
}

h2 {
    margin: 0;
}

.accordian-question {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    border: none;
    background: transparent;
    padding: 1rem 1.25rem 1rem 0;
    margin: 0;
    font-family: inherit;
    color: var(--text-vdarkgray);
}

.accordian-question:hover {
    color: var(--text-red);
    cursor: pointer;
    
}

.accordian-question::after {
    width: 0.75rem;
    height: 0.75rem;
    margin-left: auto;
    content: " ";
    background-image: url("./images/icon-arrow-down.svg");
    background-repeat: no-repeat;
    background-size: 0.75rem;
    transition: transform 0.2s ease-in-out;

}

.accordian-question.open {
    font-weight: 700;
    

}


.accordian-body {
    line-height: 1.5;
    display: none;
}



/* for transition */

.collapsing {
    height: 0;
    overflow: hidden;
    transition: height .35s ease;
}


 /* for desktop */
@media (min-width: 56em) {
    .mobile-img {
        display: none;
    }

    
   .card-container {
    position: relative;
    display: flex;
    margin: 6rem auto;
    height: 32rem;
    }


.card-content {
    display: flex;
    flex-direction: row;
    padding: 4.25rem 5.5rem 4.25rem 0;
    background-image: url("./images/bg-pattern-desktop.svg");
    background-repeat: no-repeat;
    background-size: 90%;
    background-position: -416px -190px;

}



.card-image {
    flex: 1;
    display: flex;
    align-items: center;
    padding-right: 1rem;
    overflow: hidden;
}


.desktop-img {
    display: block;
    width: 120%;
    height: auto;
    transform: translateX(-18%);   
}

.box-img {
    display: block;
    position: absolute;
    z-index: 1;
    transform: translateX(-49%) translateY(116%);
    
}


.card-text {
    flex: 1;
    margin-left: 3rem;
}

.card-text h1 {
    text-align: left;
    margin: 0 0 1.5rem 0;
}





}










/* FOOTER */
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }


    