:root {
    --text-dark-blue: hsl(238, 29%, 16%);
    --text-red: hsl(14, 88%, 65%);
    --gradient-violet: hsl(273, 75%, 66%); 
    --gradient-blue: hsl(240, 73%, 65%);
    --text-vdarkgray: hsl(237, 12%, 33%);
    --text-darkgray: hsl(240, 6%, 50%);
    --divider-gray: hsl(240, 5%, 91%)
}


html {
    font-size: 100%;
    box-sizing: border-box;
    font-family: 'Kumbh Sans', sans-serif;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    min-height: 100vh;
    margin: 0; 
    padding: 0;
    font-size: 0.75rem;
    font-weight: 400;
    color: var(--text-darkgray);
    background: linear-gradient(var(--gradient-violet), 
    var(--gradient-blue));  
        
}

.box-img {
    display: none;
}

.card-container {
    margin: 9rem 2rem;
    max-width: 56rem;
    background-color: #fff;
    border-radius: 1.5rem;

}

.card-content {
    padding: 1.5rem;
    background-image:url("./images/bg-pattern-mobile.svg");
    background-repeat: no-repeat;
    background-position: top center;
  
}


.card-image {
    margin-bottom: 8rem;
    
    
}

.mobile-img {
    position: absolute;
    top: 3%;
    left: 45%;
    transform: translateX(-50%);
    display: block;
    width: 100%;
    height: auto;
    max-width: 18rem;
    
}


.desktop-img {
    display: none;

}
    

.card-text h1 {
    color: var(--text-vdarkgray);
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 2.5rem ;
}


/* accordion content */

.accordion-wrapper {
    margin-bottom: 1.5rem;
}

.accordion-item {
    border-bottom: 1px solid var(--divider-gray);
}

h2 {
    margin: 0;
}

.accordion-question {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    border: none;
    background: transparent;
    padding: 1rem 1.25rem 1rem 0;
    margin: 0;
    font-size: inherit;
    font-family: inherit;
    color: var(--text-vdarkgray);
}

.accordion-question:hover {
    color: var(--text-red);
    cursor: pointer;
    
}

.accordion-question::after {
    width: 0.75rem;
    height: 0.75rem;
    margin-left: auto;
    content: " ";
    background-image: url("./images/icon-arrow-down.svg");
    background-repeat: no-repeat;
    background-size: 0.75rem;
    transition: transform 0.2s ease-in-out;

}

.open::after{
    background-image: url("./images/icon-arrow-down.svg");
    transform: rotate(180deg);
}

.accordion-collapse {
    display: none;
}

.accordion-body {
    line-height: 1.5;
    
}


/* for transition */

.accordion-collapse.open {
    display: block;
    padding-bottom: 1rem;
}


.accordion-question.open {
    font-weight: 700;    
}



@media (min-width: 47em) {
    .mobile-img {
        top: -2%;
        left: 48%;
        max-width: 25rem;
    }

    .card-content {
        background-size: 48%;
    }

    .card-image {
        margin-bottom: 10rem;
    }

}
    

 /* for desktop */
@media (min-width: 56em) {
    .mobile-img {
        display: none;
    }

.card-container {
    position: relative;
    margin: 11rem auto;
    max-width: 54rem;
   
   
    
}

.card-content {
    display: flex;
    flex-direction: row;
    padding: 5rem 5rem 5rem 0;
    background-image: url("./images/bg-pattern-desktop.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: -490px -220px;
}

.card-image {
    flex: 1.25;
    overflow: hidden;
    margin-bottom: 0;
}

.desktop-img {
    display: block;
    width: 100%;
    transform: translateX(-16%);
}

.box-img {
    display: block;
    position: absolute; 
    z-index: 1;
    left: 0;
    top: 41%;
    transform: translateX(-92px);
}

.card-text {
    flex: 1;
        
}

.card-text h1 {
    text-align: left;
    margin: 0 0 2.5rem 0;
}

}

.attribution {
position: fixed;
  left: 0;
  bottom: 5%;
  width: 100%;
  color: var(--text-darkgray);
  text-align: center;

}

