/* Mobile: 375px
- Desktop: 1440px 
font size 12px*/


:root {
    --text-dark-blue: hsl(238, 29%, 16%);
    --text-red: hsl(14, 88%, 65%);
    --gradient-violet: hsl(273, 75%, 66%); 
    --gradient-blue: hsl(240, 73%, 65%);
    --text-vdarkgray: hsl(237, 12%, 33%);
    --text-darkgray: hsl(240, 6%, 50%);
    --divider-gray: hsl(240, 5%, 91%)
}


html {
    font-size: 100%;
    box-sizing: border-box;
    font-family: 'Kumbh Sans', sans-serif;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    min-height: 100vh;
    margin: 0; 
    padding: 0;
    font-size: 0.75rem;
    color: var(--text-darkgray);
    background: linear-gradient(var(--gradient-violet), 
    var(--gradient-blue));  
    
    
}


.card-container {
    margin: 9rem 2rem;
    max-width: 56rem;
    background-color: #fff;
    border-radius: 1.5rem;

}

.card-content {
    padding: 1rem;
}

.desktop-img {
    width: 100%;
    height: auto;
    /* max-width: 25rem; */
}



.card-text h1 {
    color: var(--text-vdarkgray);
    text-align: center;
    font-size: 2rem;
    margin: 0;
}


/* Accordian content */

.accordian-item {
    border-bottom: 1px solid var(--divider-gray);
}

.header {
    margin-bottom: 0;
    
}

.accordian-btn {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    border: none;
    background: #fff;
    padding: 1rem 1.25rem 1rem 0;
    margin: 0;
    font-family: inherit;
    color: var(--text-vdarkgray);
}

.accordian-btn:hover {
    color: var(--text-red);
    cursor: pointer;
    
}

.accordian-btn::after {
    width: 0.75rem;
    height: 0.75rem;
    margin-left: auto;
    content: " ";
    background-image: url("./images/icon-arrow-down.svg");
    background-repeat: no-repeat;
    background-size: 0.75rem;

}


.accordian-body {
    line-height: 1.5;
    padding: 1rem 0;
    display: none;
}

.accordian-wrapper {
    margin-bottom: 1.5rem;
}


/* for transition */

.collapsing {
    height: 0;
    overflow: hidden;
    transition: height .35s ease;
}


 /* for desktop */
@media (min-width: 56rem) {
   .card-container {
    display: flex;
    border: 1px solid red;
    margin: 6rem auto;
    
}

.card-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: .5rem;
    grid-template-rows: 1fr;
    padding: 4.25rem 5.5rem;
    border: 2px solid black;
       

}

.card-text h1 {
    text-align: left;
}

.card-image, .card-text {
    
    border: 1px solid yellow;

}

.card-image {
    grid-column: 1 / 2;
    padding-right: 1rem;
}

}

.card-image {
    background-image: url("./images/bg-pattern-desktop.svg");
    background-size: contain;
    background-repeat: no-repeat;
}




/* FOOTER */
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }


    